body{font-family: arial;}

body {
    	background-image: url("background.jpg");
background-size: 7000%;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
}

h1 {
    color: blue;
    margin-left: 20px;
}


a:link {
    color: #000000;
     text-decoration: none;
}

a:visited {
	 text-decoration: none;
    color: #000000;
}

a:hover {
	 text-decoration: none;
    color: #000000;
}

a:active {
	 text-decoration: none;
    color: #000000;
}

.menu {
text-align: center;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	background: white;
	padding: 27px;
	border-radius: 5%;
	opacity: 0.89;
}
